<!DOCTYPE html>

<html>

　　<head>

　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />

　　　　<title>{{ page.title }}</title>

        <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">

        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                inlineMath: [['$','$']]
                }
            });
        </script>

　　</head>

　　<body>
        <header>
            <strong>Planets of the Universe</strong>
            {% include nav.html navclass='nav-top' %}
        </header>

　　　　{{ content }}

        <footer>
            {% include nav.html navclass='nav-bottom' %}
            <p>@ Planets of the Universe</p>
        </footer>

　　</body>

</html>